		<!DOCTYPE html>
<html lang="en">

    <head>

        <style>

            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                width:100% !important;
                height: 100% !important;
                position: relative;
            }

            svg {
                width: 100%;
                height: 100%;
            }

            path.slice{
                stroke-width:2px;
            }

            polyline{
                opacity: .3;
                stroke: black;
                stroke-width: 2px;
                fill: none;
            }

        </style>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin - Charts</title>

        <!-- Bootstrap core CSS-->
        <link href="pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS 90-->
        <link href="pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="pages/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="pages/js/raphael-2.1.4.min.js"></script>
        <script src="pages/js/justgage.js"></script>

    </head>

    <body id="page-top" style="background-color:#1b1b1b;">

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <a class="navbar-brand mr-1" href="index.html">People-Team</a>

        </nav>


        <div style="width: 45%;margin-left: 30%;height: 100%;margin-top: 8%;">
            <div style="margin: 0;">
                <!--form style="width: 100%;height: 100%"-->

		

                <select id="selectAtividade1" style="width: 78%;margin-top: 2px">
                    <option value="0">Selecione a atividade...</option>
                </select>
		


                <br>

                <br>
                <button onclick="fetchDiaria();" style="align-items: flex-end;">
                    Adicionar atividade
                </button>
                <!--/form-->
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="pages/vendor/jquery/jquery.min.js"></script>
        <script src="pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScripat-->
        <script src="pages/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="pages/js/sb-admin.min.js"></script>


        <script>

                    var a = document.getElementById("comentarios");
                    var opt;

                    function fetchDiaria() {


                        var fetchURL = 'http://192.192.1.200:4000/adicionaDiaria/';
                        let url = window.location.search;
                        var te = url.split('&');
                        console.log(te);
                        var data = {};

                        te.forEach(function (te) {
                            var chaveValor = te.split('=');
                            var chave = chaveValor[0];
                            var valor = chaveValor[1];
                            data[chave] = valor;
                        });

                        if (data["?site"] !== undefined) {

                            fetchURL +=
                                    data["?site"] +
                                    "&" + data["equipe"] +
                                    "&" + document.getElementById('selectAtividade1').value +
				    "&" + data["dia"] +
                                    "&" + data["mes"] +
                                    "&" + data["ano"];
                                    
                        }


                        fetch(fetchURL).then(
                                function (resp) {
                                    resp.json().then(function (json) {

//                                      alert(json);
                                    });
                              });

			console.log("URL:");
                        console.log(fetchURL);
                        console.log(data);
                    }


                    function fetchAtividade() {
                        let url = window.location.search;
                        console.log(url);
                        if (url[1] === "!") {
                            var teste = document.getElementById("selectEquipe");
                            teste.hidden = false;
                            teste = document.getElementById("selectDia");
                            teste.hidden = false;
                            teste = document.getElementById("selectDiaPacote");
                            teste.hidden = false;
                            console.log("'O'");
                        }

                        fetch("http://192.192.1.200:4000/selectAtividades").then(
                                function (resp) {
                                    resp.json().then(function (json) {

                                        for (let i = 0; i <= json.length - 1; i++) {
                                            ranPa(json[i].id, json[i].atividade);
                                        }

                                    });
                                });
                        fetch("http://192.192.1.200:4000/selectEquipes").then(
                                function (resp) {
                                    resp.json().then(function (json) {

                                        console.log(json);
                                        for (let i = 0; i <= json.length - 1; i++) {
                                            opt = document.createElement("option");
                                            opt.value = json[i].idTraccar;
                                            opt.text = json[i].equipe;
                                            document.getElementById("selectEquipe").appendChild(opt);
                                        }

                                    });
                                });
                    }


                    function dados(value, text) {
                        //dados
                        var sla1 = document.getElementById("selectSite");
                        var opt0 = document.createElement("option");
                        opt0.value = value;
                        opt0.text = text;
                        sla1.appendChild(opt0, sla1.options[0]);
                    }

                    function ranPa(value, text) {
                        //popular atividade 
                        var comboCidades1 = document.getElementById("selectAtividade1");
                        //var comboCidades2 = document.getElementById("selectAtividade2");

                        var opt0 = document.createElement("option");
                        opt0.value = value;
                        opt0.text = text;
                        comboCidades1.appendChild(opt0, comboCidades1.options[0]);
                        /*opt0 = document.createElement("option");
                         opt0.value = value;
                         opt0.text = text;
                         comboCidades2.appendChild(opt0, comboCidades2.options[0]);*/
                    }
                    fetchAtividade();
                    // populaSelect()   

                    var a = document.getElementById("tbody");
                    function delet(value) {
                        let alc = 0;
                        console.log("-------------------");
                        console.log(value);


                        for (let k = 0; k < a.children.length; k++) {
                            if (k == value) {
                                a.children[k].remove();
                                console.log("Pseudo removido: " + a.children[k].children[3].children[0].id);
                                alc = 1;
                            }

                            if (alc === 1) {
                                console.log("Qual deveria diminuir: " + a.children[k].children[3].children[0].id);
                                a.children[k].children[3].children[0].id = Number.parseInt(a.children[k].children[3].children[0].id) - 1;
                            }
                        }


                        console.log("-------------------");
                    }


                    function addAtividade() {

                        let selectA = document.getElementById("selectAtividade1");
                        let qtdDias = document.getElementById("qtdDias");
                        let peso = document.getElementById("peso");

                        console.log(selectA[selectA.value].textContent);
                        console.log(qtdDias.value);

                        let ta = document.createElement('a');
                        ta.id = a.children.length;
                        ta.addEventListener('click', function () {
                            delet(ta.id);
                        });

                        let tb = document.getElementById("tbody");
                        let tr = document.createElement("tr");
                        let td = [];

                        td[0] = document.createElement("td");
                        td[1] = document.createElement("td");
                        td[2] = document.createElement("td");
                        td[3] = document.createElement("td");


                        td[0].textContent = selectA[selectA.value].textContent;
                        td[1].textContent = peso.value;
                        td[2].textContent = qtdDias.value;
                        ta.textContent = "X";
                        td[3].append(ta);


                        tr.append(td[0], td[1], td[2], td[3]);
                        tb.append(tr);
                    }


                    function raa() {
                        var urll = "localhost:5000/";
                        fetch(urll).then(
                                function (resp) {
                                    resp.json().then(function (json) {

                                        alert(json);
                                    });
                                });
                    }

        </script>       


    </body>

</html>
