<!DOCTYPE html>
<html lang="en">

    <head>

        <style>

            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                width:100% !important;
                height: 100% !important;
            }

        </style>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin - Charts</title>

        <!-- Bootstrap core CSS-->
        <link href="/pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="/pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="/pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/pages/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/pages/js/raphael-2.1.4.min.js"></script>
        <script src="/pages/js/justgage.js"></script>

    </head>

    <body id="page-top" style="background-color:#1b1b1b;">

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <a class="navbar-brand mr-1" href="index.html">People-Team</a>

            <!-- Navbar Search -->
            <form  class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div hidden="" class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>


        </nav>

        <div id="wrapper">

            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../grafico.html?kjkszpj=947284835339455718400088&id=192">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Tabela de Atividade</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../teste">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Gráfico de atividades</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../pacote">
                        <i class="fas fa-fw fa-file-text"></i>
                        <span>registro de pacote</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../geraExcel">
                        <i class="fas fa-fw fa-clock"></i>
                        <span>Cartão de ponto</span></a>
                </li>

                <li class="nav-item">

                    <a id="trocaSenha" class="nav-link" href="trocaSenha.html?id=">
                        <i class="fas fa-fw fa-gear"></i>
                        <span>trocar Senha</span></a>
                </li>

            </ul>

            <div id="content-wrapper" >
                <div class="container-fluid" style="color: #ffffff;" >
                    <!-- Area Chart Example-->
                    <div class="card mb-3" style="background-color: #2a2a2a;">
                        <div class="card-header" style="background-color: #1f1f1f">
                            <i class="fas fa-chart-area" style="color: #ffffff;"></i>
                            Resumo de atividade:

                            <div class="scrollmenu">
                                <select id="selectEquipe" onChange="fetchSite();">
                                    <option>Todas as equipes</option>
                                </select>

                                <!--select id="selectMes" class="opikao" onChange="fetchSite();">
                                    <option value="0">Selecione o mês</option>                                    
                                    <option value="1">Janeiro</option>
                                    <option value="2">Fevereiro</option>
                                    <option value="3">Março</option>
                                    <option value="4">Abril</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Maio</option>
                                    <option value="6">Junho</option>
                                    <option value="7">Julho</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Setembro</option>
                                    <option value="10">Outubro</option>
                                    <option value="11">Novembro</option>
                                    <option value="12">Dezembro</option>
                                </select>
                                <select id="ano" class="opikao">
                                </select-->

                                <input id="inicio" type="date" onChange="fetchSite();">
                                <input id="fim" type="date" onChange="fetchSite();">

                                <select id="selectSite">
                                    <option value="Site">Site</option>
                                </select>

                                <button id="pes" style="font-width:5px;" class="botao" onClick="monta()">
                                    Pesquisar
                                </button>

                            </div>

                        </div>

                        <div class="card-body">
                            <div class="row">                            
                                <div id="myPie" style="height: 300%; width: 100%"> </div>
                            
                                <div class="col-lg-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-danger o-hidden h-100">
                                        <div id="txVagos" class="card-header">Dias Não cadastrados</div>                                        
                                        <div class="card-body text-center">
                                            <div id="vagos" class="fontMedia text-center">0</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-success o-hidden h-100">
                                        <div class="card-header">Sites finalizados</div>                                        
                                        <div class="card-body text-center">
                                            <div id="finalizado" class="fontMedia text-center">0</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-dark o-hidden h-100">
                                        <div class="card-header">Dias com problemas</div>                                        
                                        <div class="card-body text-center">
                                            <div id="problemas" class="fontMedia text-center">0</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-primary o-hidden h-100">
                                        <div class="card-header">Dias cadastrados</div>                                        
                                        <div class="card-body text-center">
                                            <div id="trabalhados" class="fontMedia text-center">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer small text-muted" style="background-color: #1f1f1f">
                            <i class="lastUp" style="color: #ffffff;" ></i></div>
                    </div>

                    <div hidden="hidden" class="row" style="color: #fff">
                        <div class="col-lg-12">
                            <div class="card mb-3" style="background-color: #2a2a2a">
                                <div class="card-header" style="background-color: #1f1f1f">
                                    <i class="fas fa-chart-bar"></i>
                                    Quantidade de dias em cada Atividade</div>
                                <div  class="card-body">
                                    <div id="myBar" style="height: 330%;"></div>
                                </div>
                                <div class="card-footer small text-muted" style='color: #fff !important;background-color: #1f1f1f'><i class="lastUp">

                                    </i></div>
                            </div>
                        </div>
                        <!--div class="col-lg-4" >
                            <div class="card mb-3" style="background-color: #2a2a2a;"> 
                                <div class="card-header" style="background-color: #1f1f1f">
                                    <i class="fas fa-chart-pie"></i>
                                    Porcentagem em cada grau</div>
                                <div class="card-body" style="height: 100%">
                                    <canvas id="myPieChart" width="100" height="100"></canvas>
                                </div>
                                <div class="card-footer small text-muted" style="background-color: #1f1f1f">
                                    <i class="lastUp" style='color: #fff;'>
                                        
                                    </i>
                                </div>
                            </div>
                        </div-->


                    </div>
                </div>

            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="/pages/vendor/jquery/jquery.min.js"></script>
        <script src="/pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/pages/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <script src="/pages/vendor/chart.js/Chart.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/pages/js/sb-admin.min.js"></script>



        <script src="/pages/js/att/fetchSelect.js"></script>
        <script src="/pages/js/att/fetchGrafico.js"></script>
        <script src="/pages/js/filtros/filtro.js"></script>
        <!--script src="/pages/js/ano.js"></script-->
        <script src="/pages/js/filtros/filtro.js"></script>

        <!-- Demo scripts for this page-->
        <script src="/pages/js/demo/chart-area-demo.js"></script>
        <script type="text/javascript" src="/pages/css/chines/echarts.min.js"></script>
        <script type="text/javascript" src="/pages/js/demo/chart-pie-demo.js"></script>
        <script type="text/javascript" src="/pages/js/barChines.js"></script>

        <script>monta()</script>
    </body>

</html>