<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <style>
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                width:100% !important;
                height: 100% !important;
            }
        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SB Admin - Charts</title>

        <!-- Bootstrap core CSS-->
        <link href="/pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="/pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="/pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/pages/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="/pages/js/raphael-2.1.4.min.js"></script>
        <script src="/pages/js/justgage.js"></script>

    </head>

    <body id="page-top" style="background-color:#1b1b1b;">

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top" style="width = 2px !important;">

            <a class="navbar-brand mr-1" href="index.html">People-Team</a>

            <!-- Navbar Search -->
            <form  class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div hidden="" class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>


        </nav>

        <div id="wrapper">

            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../grafico.html?kjkszpj=947284835339455718400088&id=192">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Tabela de Atividade</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../teste">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Gráfico de atividades</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../pacote">
                        <i class="fas fa-fw fa-file-text"></i>
                        <span>registro de pacote</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../geraExcel">
                        <i class="fas fa-fw fa-clock"></i>
                        <span>Cartão de ponto</span></a>
                </li>

                <li class="nav-item">

                    <a id="trocaSenha" class="nav-link" href="trocaSenha.html?id=">
                        <i class="fas fa-fw fa-gear"></i>
                        <span>trocar Senha</span></a>
                </li>

            </ul>

            <div id="test">
                <div class="wrapper">
                    <select id="equipes" name="Equipes" class="custom-select" style="width:40%"></select>
                    <input id="inicio" min="2019-02-11" type="date">
                    <input id="fim" type="date">
                    <br>                    
                    </select>
                    <button id="gerar" onclick="ponto()" >Gerar cartão de ponto</button>
                    <div id="dv">
                        <table style="margin-top: 4px;margin-left:4px" border="2px" border-color="red" class="table table-striped table-dark" id="tblExport" ></table>
                    </div>

                    <div>
                        <button  id="btnExport">Export to excel</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="pages/js/ponto/separaDias.js"></script>
        <script src="pages/js/ponto/preencheExcel.js"></script> 
        <script src="pages/js/ponto/fetch.js"></script> 

        <script src="pages/js/jquery.js" type="text/javascript"></script>
        <script src="pages/js/jquery.btechco.excelexport.js"></script>
        <script src="pages/js/jquery.base64.js"></script>
        <script src="pages/js/geraExcelC.js"></script>

        <script>
            $(document).ready(function () {
                if (window.location.protocol != "http:") {
                    window.location.protocol = "http:"
                }
                $("#btnExport").click(function () {

                    $("#tblExport").btechco_excelexport({
                        containerid: "tblExport"
                        , datatype: $datatype.Table
                        , filename: "equipes"
                    });
                });
            });
        </script>
    </body>
</html>     