<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.11.6/xlsx.core.min.js"></script>
        <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
        <style>
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            div.scrollmenu {
                overflow: auto;
                white-space: nowrap;
            }
            tbody{
                background-color: #2b2b2b;
            }
            
            ::-webkit-input-placeholder {
               color: #fff !important;
            }

            :-moz-placeholder { /* Firefox 18- */
               color: #fff !important;
            }

            ::-moz-placeholder {  /* Firefox 19+ */
               color: #fff !important;
            }

            :-ms-input-placeholder {  
               color: #fff !important;
            }

        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SB Admin - Charts</title>
        <!-- Bootstrap core CSS-->
        <link href="pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="pages/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body id="page-top" style="background-color:#1b1b1b;" >
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="index.html" >People-Team</a>
            <!-- Navbar Search -->
            <form  class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div hidden="" class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button  class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../grafico.html?kjkszpj=947284835339455718400088&id=192">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Tabela de Atividade</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../teste">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Gráfico de atividades</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../pacote">
                        <i class="fas fa-fw fa-file-text"></i>
                        <span>registro de pacote</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../geraExcel">
                        <i class="fas fa-fw fa-clock"></i>
                        <span>Cartão de ponto</span></a>
                </li>

                <li class="nav-item">

                    <a id="trocaSenha" class="nav-link" href="trocaSenha.html?id=">
                        <i class="fas fa-fw fa-gear"></i>
                        <span>trocar Senha</span></a>
                </li>

            </ul>

            <div class="container-fluid" style="color: #ffffff;" >
                <div class="card mb-3" style="background-color: #2a2a2a;">
                    <div class="card-header" style="background-color: #1f1f1f">
                        <i class="fas fa-file-alt" style="color: #ffffff;"></i>
                        Cadastro de Pacote
                        <div >
                            <input id="pacote" type="text" class="form-control bg-secondary text-white" placeholder="Insira o nome do pacote" style="width:100%; border: solid rgb(255,255,255,0) 1px;box-shadow: 0 0 0 0;">
                            <input id="dias" type="number" class="form-control bg-secondary text-white" placeholder="insira a quantidade de dias" style="width:100%; border: solid rgb(255,255,255,0) 1px;box-shadow: 0 0 0 0;">

                            <a class="btn btn-secondary btn-md active" role="button" aria-pressed="true"  onclick="cadastraPacote()">Cadastrar</a>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="background-color: #2a2a2a;">
                    <div class="card-header" style="background-color: #1f1f1f">
                        <i class="fas fa-file-alt" style="color: #ffffff;"></i>
                        Registrar pacote
                        <div >

                            <select id="selectSite" class="custom-select bg-secondary text-white" style="width:40%; border: solid rgb(255,255,255,0) 1px;box-shadow: 0 0 0 0;">
                                <option>Selecione o Site</option>
                            </select>

                            <select id="selectPacote" class="custom-select bg-secondary text-white" style="width:40%; border: solid rgb(255,255,255,0) 1px;  box-shadow: 0 0 0 0;">
                                <option value="0">Selecione o Pacote</option>                                    
                            </select>

                            <a class="btn btn-secondary btn-md active" role="button" aria-pressed="true"  onclick="fetchCadastro()">Adicionar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="pages/js/pacote/fetch.js"></script>
        <script src="pages/js/pacote/cadastra.js"></script>

        <!--script src="pages/js/ano.js"></script-->
        <script src="pages/js/jquery.js" type="text/javascript"></script>
        <script src="pages/js/jquery.btechco.excelexport.js"></script>
        <script src="pages/js/jquery.base64.js"></script>
        <script src="pages/js/geraExcelC.js"></script>
        <script src="pages/js/tiraPlus.js"></script>

    </body>
</html>