<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <style>

            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

            div.scrollmenu {
                overflow: auto;
                white-space: nowrap;
            }

            tbody{
                background-color: #2b2b2b;
            }

        </style>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin - Charts</title>

        <!-- Bootstrap core CSS-->
        <link href="pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom tyles for this template-->
        <link href="pages/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>

    <body id="page-top" style="background-color:#1b1b1b;" >

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <a class="navbar-brand mr-1" href="index.html" >People-Team</a>

            <!-- Navbar Search -->
            <form  class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div hidden="" class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>


        </nav>

        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../grafico.html?kjkszpj=947284835339455718400088&id=192">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Tabela de Atividade</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../teste">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Gráfico de atividades</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../pacote">
                        <i class="fas fa-fw fa-file-text"></i>
                        <span>registro de pacote</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../geraExcel">
                        <i class="fas fa-fw fa-clock"></i>
                        <span>Cartão de ponto</span></a>
                </li>

                <li class="nav-item">

                    <a id="trocaSenha" class="nav-link" href="trocaSenha.html?id=">
                        <i class="fas fa-fw fa-gear"></i>
                        <span>trocar Senha</span></a>
                </li>

            </ul>

            <script>
		console.log("ante de criar");
                var url = "https://people-team-telecom.herokuapp.com";
		var t =     window.location.search.split("=");
		console.log(t[t.length-1]);

		var index = document.getElementById("index");			
		var troca = document.getElementById("trocaSenha");

		console.log("depois de criar");


		troca.href += window.location.search;
		index.href += t[t.length-1];
		console.log(t[t.length-1]);

                function trocaSenha() {
                    var senha = document.getElementById("senha");
                    var senha0 = document.getElementById("senha0");
		    var t = window.location.search.split("=");
		    var hue = t[t.length-1];

                    if (senha.value !== senha0.value) {
                        alert("As senhas são diferentessss");
                    } else {

                        fetch("https://people-team-telecom.herokuapp.com/trocarSenha/"+hue+"&"+senha.value).then(
                                function (resp) {
                                    resp.json().then(function (json) {
						console.log(json);    
					alert("Senha atualizada com sucesso");                                    

                                    });
                                });

                    }
                }
            </script>


            <br>
            <div class="scrollmenu">

                <input type="password" placeholder="Senha..." id="senha">
                <br>
                <input type="password" placeholder="Digite novamente..." style="margin-top:4px;" id="senha0">
                <br>
                <button style="margin-top: 4px"  class="botao" onClick="trocaSenha();">
                    Trocar senha
                </button>

                <table id="table" border="1px">
                </table>

            </div>


        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>

