<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.11.6/xlsx.core.min.js"></script>
        <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
        <style>
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            div.scrollmenu {
                overflow: auto;
                white-space: nowrap;
            }
            tbody{
                background-color: #2b2b2b;
            }

            .tool {
                position: relative;
            }

            .tool .tooltiptext {
                visibility: hidden;
                width: 100px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -60px;
                opacity: 0;
                transition: opacity 0.3s;
            }

            .tool .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

            .tool:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }

        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SB Admin - Charts</title>
        <!-- Bootstrap core CSS-->
        <link href="pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="pages/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body id="page-top" style="background-color:#1b1b1b;" >
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="index.html" >People-Team</a>
            <!-- Navbar Search -->
            <form  class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div hidden="" class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button  class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../grafico.html?kjkszpj=947284835339455718400088&id=192">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Tabela de Atividade</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../teste">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Gráfico de atividades</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../pacote">
                        <i class="fas fa-fw fa-file-text"></i>
                        <span>registro de pacote</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../geraExcel">
                        <i class="fas fa-fw fa-clock"></i>
                        <span>Cartão de ponto</span></a>
                </li>

                <li class="nav-item">

                    <a id="trocaSenha" class="nav-link" href="trocaSenha.html?id=">
                        <i class="fas fa-fw fa-gear"></i>
                        <span>trocar Senha</span></a>
                </li>

            </ul>
            <script>
                //geraCalendar(); mds como assim n vai essa merda
                var url = "http://192.192.1.200:4000";
                var ass;
                function maravilha(value, text, atrib) {
                    var site = document.getElementById("pokemon");
                    var opt = document.createElement("option");
                    opt.value = value;
                    opt.dir = atrib;
                    opt.text = text;
                    site.appendChild(opt, site.options[0]);
                }
                function busca() {
                    fetch("http://192.192.1.200:4000/selectSite").then(
                            function (resp) {
                                resp.json().then(function (jsonQ) {
                                    ass = jsonQ;
                                    for (let i = 0; i < jsonQ.length; i++) {
                                        maravilha(i + 1, jsonQ[i].site, jsonQ[i].id);
                                    }
                                })
                            });
                }
                function fetchDiaria() {
                    fetch(url + "/selectDiaria/" + document.getElementById("pokemon").value).then(
                            function (resp) {
                                resp.json().then(function (json) {
                                });
                            });
                    fetchURL +=
                            1 +
                            "&" + data["?equipe"] +
                            "&" + data["ano"] +
                            "&" + data["mes"] +
                            "&" + data["dia"] +
                            "&" + document.getElementById('selectAtividade1').value +
                            "&" + document.getElementById('comentarios').value;
                }
                
                function fetchAttEquipes() {
                    fetch("http://192.192.1.200:4000/attEquipes").then(
                            function (resp) {
                                resp.json().then(function (json) {
                                   console.log("cadastrou");
                                });
                            });
                }

                function fetchAtt() {
                    fetch("http://192.192.1.200:4000/attSites").then(
                            function (resp) {
                                resp.json().then(function (json) {
                                    console.log(json.URL);
                                    fetch(json.URL).then(
                                            function (resp) {
                                                resp.json().then(function (jsonQ) {
                                                    console.log(jsonQ);
                                                });
                                            });

                                });
                            });
                }
                busca();
                var hehe = [];
                var latlong = [];
                var boole = false;
                let text = [];
                text[0] = [];
                text[1] = [];
                text[0][0] = "";
                text[1][0] = "";
                function latLong(vet) {
                    for (let a = 0; a < vet.length; a++) {
                        let alc = -1;
                        for (let k = 0; k < vet[0].length; k++) {
                            if (vet[a][k] == ",") {
                                boole = false;
                            }
                            if (vet[a][k] == "-") {
                                alc++;
                            }
                            if (boole) {
                                if (text[alc][a] == undefined) {
                                    text[alc][a] = vet[a][k];
                                } else {
                                    text[alc][a] += vet[a][k];
                                }
                            }
                            if (vet[a][k] == "(") {
                                boole = true;
                            }
                        }
                    }
                }
            </script>
            <br>
            <div class="scrollmenu" style="width:100% !important;">
                <select id="equipes" name="Equipes" class="custom-select" style="width:20%">
                        <option value="0">Todos as Equipes</option>
                </select>
                
                <select id="pokemon" class="custom-select" style="width:20%">
                    <option value="0">Todos os sites</option>
                </select>
                <input id="inicio" type="date">
                <input id="fim" type="date">
                <button id="pes"  class="botao" onClick="fetchPeriodo();">
                    Pesquisar
                </button>

                                        <table style="margin-top: 4px;margin-left:4px" border="2px" border-color="red" class="table table-striped table-dark" id="tblExport" ></table>
                <table id="table" class="table table-striped table-dark " style="margint-top : 5px; margin-left : 5px;text-align: center;">
                </table>
                <br>
                <button id="gera"  class="botao" onClick="tes();" style="">
                    gerar Excel
                </button>
                <button id="sinc"  class="botao" onClick="fetchAtt();">
                    Sincronizar Sites
                </button>

                <button id="sinc"  class="botao" onClick="fetchAttEquipes();">
                    Sincronizar equipes
                </button>

            </div>
        </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="pages/js/grafico_1/teste.js"></script>
        <script src="pages/js/grafico_1/fetch.js"></script>
        <script src="pages/js/grafico_1/dias.js"></script>
        <!--script src="pages/js/ano.js"></script-->
        <script src="pages/js/jquery.js" type="text/javascript"></script>
        <script src="pages/js/jquery.btechco.excelexport.js"></script>
        <script src="pages/js/jquery.base64.js"></script>
        <script src="pages/js/geraExcelC.js"></script>
        <script src="pages/js/tiraPlus.js"></script>
        <script>
                    var troc = document.getElementById("trocaSenha");
                    var t = window.location.search.split("=");
                    troc.href += t[t.length - 1];
                    function tes() {
                        var but = document.getElementById("gera");
                        var tub = document.getElementById("pes");
                        tira();
                        $("#table").btechco_excelexport({
                            containerid: "table"
                            , datatype: $datatype.Table
                            , filename: "tabela de atividades"
                        });
                        but.textContent = "gerar Excel";
                        tub.textContent = "Pesquisar";
                    }
        </script>
    </body>
</html>